.chatBlock{

    width: 80%;
    height: 90vh;
    padding: 3% 0 0;
    margin: auto;
}
.form {
    margin: auto;
    position: relative;
    background-color: white;
    width: 90%;
    height: 100%;
    padding: 25px 0 45px;
}

.room{
    margin: auto;
    width: 100%;
    height: 70%;
    background-color: gray;
}

.mes{
    background-color: rgb(241, 221, 153);
    font-weight:bold;
}

.mymes{
    background-color: #F7D772;
    font-weight:bold;
}

