.chatBlock{

    width: 80%;
    height: 90vh;
    padding: 3% 0 0;
    margin: auto;
}
.form {
    margin: auto;
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 45px 0 45px;
    text-align: center;
}

.room{
    margin: auto;
    width: 98%;
    height: 70%;
    background-color: rgb(175, 172, 172);
}

.mes{
    background-color: rgb(241, 221, 153);
    font-weight:bold;
}

.mymes{
    background-color: #F7D772;
    font-weight:bold;
}

