
.login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    background-color: white;
    width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 100px #F7D772;
  }
  .form input {
    background-color: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
  }
  .form button {
    background-color: #84CCCE;
    width: 100%;
    padding: 15px;
    font-size: 14px;
    border: 0;
    margin: 0 0 15px;
    cursor: pointer;
  }
  .form button:hover,.form button:active {
    background-color: #77B3B3;
  }
  
  .form .message a {
    color: #84CCCE;
  }
  .register-form {
    display: none;
  }
  